/*
Your styles go here!
Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.
*/

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: 'Tajawal', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 3vh;
	padding: 0;
}

h1, h2 {
	color: #5499C7;
	font-family: 'Handlee', cursive;
	font-size: 10vw;
	font-weight: 900;
	text-align: center;
}

#header img {
  max-width: 100vw;
  width: 100vw;
}

h2 {
	font-size: 8vw;
	margin-top: 1.5em;
}

article, footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	/*margin: 0 auto;*/
	max-width: 50em;
}

article {
	border-bottom: 1px solid #aaa;
}

footer {
	text-align: center;
}

img {
	display: block;
	max-width: 100%;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	color: blue;
	text-align: center;
}

p, .social {
	font-size: 1.2em;
}

/* zocial */
[class*="zocial-"]:before {
	color: #154360;
  	font-family: 'zocial', sans-serif;
	display: inline-block; padding-right: 10px;
	text-shadow: 3px 3px 3px #aaa;
}

.social {
	border-bottom: 1px solid #aaa;
	letter-spacing: -1px;
	line-height: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.social a {
	color: #5499C7;
	margin-right: 2em;
	text-decoration: none;
}

a#viewSource, a {
	color: #5499C7;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: black;
}
